@page
@model LogoutModel
@{
    ViewData["Title"] = "Вийти з акаунту";
}

<header>
    <h1>@ViewData["Title"]</h1>
    @{
        if (User.Identity?.IsAuthenticated ?? false)
        {
            <form class="form-inline" asp-page="/Account/Logout" method="post">
                <button type="submit" class="nav-link btn btn-link text-dark">Натисніть, щоб вийти з акаунту</button>
            </form>
        }
        else
        {
            <p>Ви успішно вийшли з акаунту.</p>
        }
    }
</header>
